.search-label {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    border: 1px solid transparent;
    border-radius: 12px;
    overflow: hidden;
    background: #3D3D3D;
    padding: 9px;
    cursor: text;
}

    .search-label:hover {
        border-color: gray;
    }

    .search-label:focus-within {
        background: #464646;
        border-color: gray;
    }

    .input {
        outline: none;
        width: 100%;
        border: none;
        background: none;
        color: rgb(162, 162, 162);
    }

        .input:focus + .slash-icon,
        .input:valid + .slash-icon {
            display: none;
        }

        .input:valid ~ .search-icon {
            display: block;
        }

        .input:valid {
            width: calc(100% - 22px);
            transform: translateX(20px);
        }
.form-container {
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
}
.season{
    margin: 0.2em;
}