html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.outline-background-me {
    outline: 0.2em solid #2b2a42;
    padding: 1em;
    background: rgb(230, 200, 230, 0.23); /*CHINNNNNNNNN*/
    border-radius: 3px;
}

.textoutline {
    color: white;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

main {
    background-image: url("../background.jpg");
    background-position: top;
}

/* From Uiverse.io by gharsh11032000 */

/*this is used to determine the size of the containter and this shit sucks actually */
