<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <!-- change the max to 1024 MB -->
        <httpRuntime maxRequestLength="104857600" executionTimeout="900"/>
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <!-- change the max to 1024 MB -->
                <requestLimits maxAllowedContentLength="104857600" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>