@using Microsoft.AspNetCore.Mvc.TagHelpers
@using joro.too.Entities
@model List<Genre>


<form method="post">
    <div>
        Name
        <input id="name" type="text">
    </div>
    <div>
        Description
        <input id="desc" type="text">
    </div>
    <div style="float: right">
        Upload image
        <input type="file">
    </div>
    <div>
        @foreach (var item in Model)
        {
            <input id="genres" type="checkbox"> @item.Type
        }
    </div>
    <input type="submit" class="btn">
    
</form>
