@using joro.too.Entities
@model AddMovieModel


<form method="post" enctype="multipart/form-data">
    <div>
        Name
        <input name="name" id="name" type="text">
    </div>
    <div>
        Description
        <input name="desc" id="desc" type="text">
    </div>
    <div style="float: right">
        Upload image
        <input type="file" id="img" name="img" accept="image/*">
    </div>
    <div>
        @foreach (var item in Model.Genres)
        {
            <input name="genres" id="@item.Value" value="@item.Value" type="checkbox"> @item.Text
        }
    </div>
    <div>
        Upload video
        <input type="file" id="vid" name="vid" accept="video/*">
    </div>
    <input type="submit" class="btn">
    
</form>

