
@if (!User.IsInRole("Admin"))
{
    <h1 class="text-center textoutline">
        Hiya, instead of trying to put your nose where it does'nt belong, why don't you instead enjoy some of the media in our fine collection hm?

    </h1>
    <p class="text-center textoutline">
        <a asp-action="SearchResult" asp-controller="Search">Go back and don't waste your time here</a>
    </p>
}
else
{
    <a asp-action="AddActor">Add Actor</a>
    <a asp-action="AddMovie">Add Movie</a>
    <a asp-action="AddShow">Add Show</a>
}