@model AddMediaModel
<link rel="stylesheet" href="~/css/Searchbar.css" asp-append-version="true"/>
<form method="post" enctype="multipart/form-data">
    <div>
        Name
        <input name="string1" id="string1" type="text">
    </div>
    <div>
        Description
        <input name="string2" id="string2" type="text">
    </div>
    <div>
        File
        <input name="vid" id="vid" type="file" accept="video/*">
    </div>
    <input type="submit">
</form>